{%load static%}
<html>
    <head>
        <title>
            about-travelguru
        </title>
    </head>
<style>
    .about{
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
        border:2px solid black;
        padding-top:30px;
        text-align: center;
        padding-bottom: 30px;
        font-style: italic;
        font-weight: bolder;
    }
    .body{
        background-image: url("static/img/body.jpg");
        background-repeat: no-repeat;
        height: 100%;
        background-size: cover;
    }
</style>
<div class="body">
    <center><h1>ABOUT US</h1></center>
    <body >
        <div class="about">
               Travelguru is one of the most trusted and secular website which is trusted by over a million of Indians.we make travel arrangements both in India and aboard.
        </div>
    </div>
    </body>
</html>