<html>
    <head>
        <title>
            contact
        </title>
    </head>

<style>
    .container{
        border:2px solid black;
        margin-top: 100px;
        margin-left:50px;
        margin-right:50px;
        padding-top: 50px;
        text-align: center;
        padding-bottom: 50px;
    }

    .email{
        margin-bottom: 20px;
    }

    .phone{
        margin-bottom: 20px;
    }
</style>
 <body>
    <center>
        <h1>CONTACT</h1>
    </center>
    <div class="container">
    <div class="email">
        <b>contact via email: </b> djangoalerts0011@gmail.com
    </div>
    <div class="phone">
         <b>phone:</b>+91 9876543210
    </div>
    <div class="address">
        <address>
        <b>ADDRESS:</b>Dubai main road,Dubai 2nd street,Dubai.
    </address>
    </div>
</div>
 </body>
</html>